:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --first-text-color: rgba(157, 164, 189, 0.6);
  --second-text-color: #9da4bd;
  --third-text-color: #303030;
  --fourth-text-color: #555555;
  --first-button-color: #ffffff;
  --second-button-color: #303030;
  --header-text-color: #ffffff;
  --accent-color: #ff6c00;
  --alt-background-color: #f7f7f7;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.modal-close, .pre-title {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.pre-title {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.pre-title::before {
  content: "";
  width: 63px;
  height: 1px;
  margin-right: 21px;
  background: grey;
}

.pre-title--color-dark {
  color: var(--third-text-color);
}

.pre-title--color-light {
  color: var(--first-text-color);
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
  transition: color 300ms linear, background-color 300ms linear;
}
.btn:hover, .btn:focus {
  color: var(--first-button-color);
  background-color: var(--accent-color);
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(23, 26, 36, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms, visibility 300ms;
}
.backdrop.is-hidden .modal {
  transform: scale(1.5) rotate(270deg) translate(100px, 100px);
}

.modal {
  width: 500px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 300ms;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 50%;
  justify-content: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 15px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 4px;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
  color: teal;
  transition: border-color 300ms linear;
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input::-moz-placeholder {
  font-size: 14px;
  color: tomato;
  opacity: 0.7;
}
.modal-input::placeholder {
  font-size: 14px;
  color: tomato;
  opacity: 0.7;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  transition: fill 300ms linear;
}

.modal-text {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  resize: none;
  background-color: transparent;
  color: teal;
  transition: border-color 300ms linear;
}
.modal-text:focus {
  border-color: var(--accent-color);
}
.modal-text::-moz-placeholder {
  font-size: 14px;
  color: tomato;
  opacity: 0.7;
}
.modal-text::placeholder {
  font-size: 14px;
  color: tomato;
  opacity: 0.7;
}

.modal-input-text {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  color: var(--fourth-text-color);
}

.modal-btn {
  margin: 0 auto;
  color: var(--second-button-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-btn:hover svg {
  fill: #ffffff;
}

.input-btn-icon {
  margin-left: 6px;
  transition: fill 300ms linear;
}

.modal-check-text {
  font-size: 14px;
  color: var(--fourth-text-color);
  display: flex;
  position: relative;
  align-items: center;
}
.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  margin-right: 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-check {
  fill: transparent;
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:checked + .modal-check-text .icon-check {
  fill: teal;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-list {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
  transition: color 300ms linear;
  position: relative;
}
.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}
.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -48px;
}

.header-connect {
  margin-left: auto;
  padding-right: 10px;
}

.header-logo {
  margin-right: 70px;
}

.header-item {
  margin-right: 40px;
}
.header-item:last-child {
  margin-right: 0;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}

.header-btn {
  color: var(--first-button-color);
  margin-left: 40px;
}

.hero-container {
  display: flex;
}

.hero-left {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translate(-15px);
  transform-origin: top left;
  align-items: center;
}
.hero-list::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: #303030;
  margin-right: 40px;
}

.hero-item + .hero-item {
  margin-left: 40px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
  transition: color 300ms linear;
}
.hero-link:hover, .hero-link:focus {
  color: var(--accent-color);
}

.hero-right {
  background-color: var(--fourth-text-color);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 96px;
}

.hero-pre-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}
.hero-pre-title::before {
  background-color: var(--first-text-color);
}
.hero-pre-title:hover:before {
  background-color: tomato;
}

.hero-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.hero-after-title {
  max-width: 400px;
  color: var(--second-text-color);
}

.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
  flex-shrink: 0;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-pre-title {
  margin-bottom: 20px;
}
.about-pre-title::before {
  background-color: var(--third-text-color);
}

.about-title {
  margin-bottom: 20px;
  color: var(--second-title-color);
}

.about-after-title {
  color: var(--fourth-text-color);
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
  margin-bottom: 44px;
}

.about-btn {
  color: var(--second-button-color);
}

.prices {
  background-color: #111319;
  background-image: url(../img/prices-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 130px;
  padding-bottom: 130px;
  max-width: 1280px;
  margin: 0 auto;
}

.prices-pre-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}

.prices-pre-title::before {
  background-color: var(--first-text-color);
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}

.prices-list {
  width: 50%;
  padding: 30px 40px;
}

.prices-list-light {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.prices-item-description {
  order: -1;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.prices-btn {
  color: var(--first-button-color);
  display: block;
  margin: 0 auto;
}

.reasons {
  padding: 130px 0;
}

.reasons-container {
  display: flex;
}

.reasons-left {
  display: flex;
  justify-content: center;
}

.reasons-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px;
}

.reasons-item:nth-child(odd) {
  margin-right: 30px;
}

.reasons-item:nth-child(even) {
  margin-top: 30px;
}

.reasons-left,
.reasons-right {
  width: calc(50% - 30px);
}

.reasons-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--third-text-color);
  display: flex;
  text-align: center;
  justify-content: center;
}

.reasons-count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--third-text-color);
}

.reasons-pre-title {
  margin-bottom: 20px;
}

.reasons-pre-title::before {
  background-color: var(--third-text-color);
}

.reasons-title {
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.reasons-after-title {
  color: var(--fourth-text-color);
}

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}

.masters-container {
  padding: 130px 55px;
  background-color: var(--alt-background-color);
}

.masters-pre-title {
  margin-bottom: 20px;
}
.masters-pre-title ::before {
  background-color: var(--third-text-color);
}

.masters-title {
  color: var(--third-text-color);
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.masters-item {
  flex-basis: calc(100% - 90px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.masters-item-content {
  padding-top: 30px;
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--second-title-color);
}

.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.masters-social-list {
  display: flex;
  justify-content: center;
}

.masters-social-item {
  width: 44px;
  height: 44px;
}

.masters-social-item + .masters-social-item {
  margin-left: 10px;
}

.masters-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  transition: color 300ms linear, background-color 300ms linear;
}
.masters-social-link:hover, .masters-social-link:focus {
  background-color: aqua;
  color: var(--accent-color);
}

.masters-social-icon {
  fill: #ffffff;
}
.masters-social-icon:hover, .masters-social-icon:focus {
  fill: var(--accent-color);
}

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-pre-title {
  margin-bottom: 44px;
}
.gallery-pre-title::before {
  color: var(--third-text-color);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-item {
  width: calc(25% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.contact-wrapp .container {
  display: flex;
  background-color: #191C26;
}

.contact-wrapp .container {
  display: flex;
}

.online {
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% + 15px);
  padding-right: 40px;
  margin-left: 55px;
}

.online-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.online-input-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.online-input,
.online-text {
  width: 270px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-text-color);
  outline: none;
  transition: border-color 300ms linear;
}

.online-input:focus,
.online-text:focus {
  border-color: #ffffff;
}

.online-input:focus::-moz-placeholder, .online-text:focus::-moz-placeholder {
  color: #ffffff;
}

.online-input:focus::placeholder,
.online-text:focus::placeholder {
  color: #ffffff;
}

.online-text {
  width: 100%;
  height: 76px;
  resize: none;
  margin-bottom: 44px;
}

.online-input::-moz-placeholder, .online-text::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-text-color);
  -moz-transition: color 300ms linear;
  transition: color 300ms linear;
}

.online-input::placeholder,
.online-text::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-text-color);
  transition: color 300ms linear;
}

.online-input + .online-input {
  width: 230px;
}

.online-btn {
  color: var(--first-button-color);
}

.contact-wrapp .container {
  display: flex;
}

.contacts {
  background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% + 15px);
  padding-left: 100px;
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--main-title-color);
}

.contacts-list {
  max-width: 270px;
}

.contacts-item:nth-last-child(3) {
  margin-bottom: 20px;
}

.contacts-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--second-text-color);
}

.contacts-icon {
  margin-right: 20px;
}

.contacts-bottom-title {
  margin-top: 70px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.contacts-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.adress-text {
  display: block;
  max-width: 230px;
}

.footer-container {
  display: flex;
  align-items: center;
  padding: 57px 0 55px 0;
  background-color: var(--alt-background-color);
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}

.footer-list {
  display: flex;
  margin-left: auto;
}

.footer-item {
  margin-right: 40px;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */