:root {
    --main-title-color: #ffffff;
    --second-title-color: #303030;
    --first-text-color: rgba(157, 164, 189, 0.6);
    --second-text-color: #9da4bd;
    --third-text-color: #303030;
    --fourth-text-color: #555555;
    --first-button-color: #ffffff;
    --second-button-color: #303030;
    --header-text-color: #ffffff;
    --accent-color: #ff6c00;
    --alt-background-color: #f7f7f7;
}

body {
    font-family: "Open Sans", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.list{
    list-style-type: none;
}

.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn{
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    box-sizing: border-box;
    border: var(--accent-color) 1px solid;
    border-radius: 25px;
    background-color: transparent;
    min-width: 160px;
    height: 40px;
    transition: color 300ms linear, background-color 300ms linear;
}

.btn:hover,
.btn:focus {
    color: var(--first-button-color);
    background-color: var(--accent-color);
}

.pre-title{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.pre-title::before{
    content: '';
    width: 63px;
    height: 1px;
    margin-right: 21px;
    background: grey;
}

.section-title{
    font-family: Raleway;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.after-title{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

/* -------------------HEADER---------------------- */

.header {
   position: absolute;
   width: 100%;
   padding: 32px 0;
}

.header-container{
    display: flex;
    align-items: center;
}

.header-logo{
    margin-right: 70px;
}

.header-navigation{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
}

.header-item{
    margin-right: 40px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    transition: color 300ms linear;
    padding: 32px 0;
    position: relative;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header-connect{
    margin-left: auto;
}

.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    transition: color 300ms linear;
}

.header-tel:hover,
.header-tel:focus{
    color: var(--accent-color);
}


.header-btn {
    color: var(--first-button-color);
    margin-left: 40px;

}

/* -------------------HERO---------------------- */
.hero-container{
    display: flex;
}

.hero-list{
   display: flex;
   transform: rotate(-90deg) translate(-15px);;
   transform-origin: top left;
   align-items: center;
}

.hero-list::before {
    content: "";
    height: 1px;
    width: 60px;
    background-color: #303030;
    margin-right: 40px;
}


.hero-item+.hero-item {
    margin-left: 40px;
}


.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--third-text-color);
    transition: color 300ms linear;
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.hero-left{
    display: flex;
    align-items: flex-end;
    padding-left: 23px;
    padding-bottom: 40px;
    width: 93px;
}


.hero-right {
    background-color: var(--fourth-text-color);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2),
                rgba(25, 28, 38, 0.2)),
                url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    padding-top: 272px;
    padding-bottom: 206px;
    padding-left: 96px;
}

.hero-pre-title {
    color: var(--first-text-color);
    margin-bottom: 20px;
}

.hero-title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--main-title-color);
    margin-bottom: 20px;
}

.hero-after-title {
    max-width: 400px;
    color: var(--second-text-color);
}

/* -------------------ABOUT---------------------- */

.about{
    padding-top: 139px;
    padding-bottom: 121px;
}

.about-container{
    display: flex;
}

.about-list{
    display: flex;
    margin-right: 64px;
    flex-shrink: 0;
}

.about-item:not(:last-child){
    margin-right: 30px;
}

.about-pre-title {
    color: var(--third-text-color);
    margin-bottom: 20px;
}

.about-title {
    margin-bottom: 20px;
    color: var(--second-title-color);
}

.about-after-title {
    color: var(--fourth-text-color);
    margin-bottom: 20px;
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--fourth-text-color);
    margin-bottom: 44px;
}

.about-btn {
    color: var(--second-button-color);
}

/* -------------------PRICES---------------------- */

.prices {
    background-color: #111319;
    background-image: url(../img/prices-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 130px 0;
    max-width: 1280px;
    margin: 0 auto; 
}

.prices-pre-title {
    color: var(--first-text-color);
}

.prices-pre-title::before {
    background-color: var(--first-text-color);
}

.prices-title {
    color: var(--main-title-color);
    margin-bottom: 44px;
}

.prices-wrap{
    display: flex;
    margin-bottom: 50px;
}

.prices-list{
    width: 50%;
    padding: 30px 40px;
}

.prices-list-light {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-dark {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}


.prices-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}

.prices-item:last-child{
    margin-bottom: 0;
}

.prices-item::before{
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    margin: 0 6px;
}

.prices-item-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.prices-item-description{
    order: -1;
}

.prices-btn {
    color: var(--first-button-color);
    display: block;
    margin: 0 auto;
}

/* -------------------REASONS---------------------- */
.reasons {
   padding: 130px 0;
}

.reasons-container {
    display: flex;
}

.reasons-left {
    display: flex;
    justify-content: center;
}

.reasons-list {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
}

.reasons-item {
    width: 170px;
    height: 133px;
    background-color: #f7f7f7;
    padding: 20px;
}

.reasons-item:nth-child(odd) {
    margin-right: 30px;
}

.reasons-item:nth-child(even) {
    margin-top: 30px;
}

.reasons-left,
.reasons-right {
    width: calc(50% - 30px);
}

.reasons-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--third-text-color);
    display: flex;
    justify-content: center;
}

.reasons-count::after {
    content: "+";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: var(--accent-color);
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--third-text-color);
}

.reasons-pre-title {
    color: var(--third-text-color);
    margin-bottom: 20px;
}

.reasons-pre-title::before {
    background-color: var(--third-text-color);
}

.reasons-title {
    color: var(--third-text-color);
    margin-bottom: 20px;
}

.reasons-after-title {
    color: var(--fourth-text-color);
}

/* -------------------MASTERS---------------------- */

.masters{
    padding: 130px 0;
}

.masters-container{
    background-color: var(--alt-background-color);
}

.masters-pre-title {
    color: var(--third-text-color);
    margin-bottom: 20px;
}

.masters-pre-title::before {
    background-color: var(--third-text-color);
}

.masters-title {
    color: var(--third-text-color);
    margin-bottom: 44px;
}

.masters-list{
    display: flex;
    margin-right: -30px;
    margin-bottom: -30px;
}

.masters-item{
    flex-basis: calc(100% - 3 * 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.masters-item-content{
    padding-top: 30px;
}

/* .masters-item:nth-child(3n){
    margin-right: 0;
}

.masters-item:nth-last-child(-n + 3){
    margin-bottom: 0;
} */

.masters-item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--second-title-color);
}

.masters-item-text {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 30px;
}

.masters-social-list{
    display: flex;
    justify-content: center;
}


.masters-social-item{
    width: 44px;
    height: 44px;
}

.masters-social-item + .masters-social-item{
    margin-left: 10px;
}

.masters-social-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    transition: color 300ms linear, background-color 300ms linear;
}

.masters-social-link:hover,
.masters-social-link:focus{
    color: var(--accent-color);
    background-color: aqua;
}

.masters-social-icon{
    fill: #ffffff;
}

.masters-social-link:hover .masters-social-icon,
.masters-social-link:focus .masters-social-icon{
    fill: var(--accent-color)
}

/* -------------------GALLERY---------------------- */

.gallery{
    padding: 130px 0;
}

.gallery-pre-title {
    margin-bottom: 44px;
    color: var(--third-text-color);
}

.gallery-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.gallery-item{
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}


.contact-wrapp .container {
    display: flex;
    background-color: #191C26;
}

/* -------------------ONLINE---------------------- */

.online {
    background-color:#191C26;
    padding-top: 130px;
    padding-bottom: 130px;
    width: calc(50% + 15px);
    padding-right: 40px;
    margin-left: 55px;
}

.online-title {
    color: var(--main-title-color);
    margin-bottom: 44px;
}

.online-input-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.online-input,
.online-text {
    width: 220px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--first-text-color);
    outline: none;
    transition: border-color 300ms linear;
}

.online-input:focus,
.online-text:focus {
    border-color: #ffffff;
}

.online-input:focus::placeholder,
.online-text:focus::placeholder {
    color: #ffffff;
}

.online-text {
    width: 100%;
    height: 76px;
    resize: none;
    margin-bottom: 44px;
}

.online-input::placeholder,
.online-text::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--first-text-color);
    transition: color 300ms linear;
}

.online-input+.online-input {
    width: 260px;
}

.online-btn {
    color: var(--first-button-color);
}


/* -------------------CONTACTS---------------------- */

.contacts {
    background-image: url(../img/contacts-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 130px;
    padding-bottom: 130px;
    width: calc(50% + 15px);
    padding-left: 100px;
}

.contacts-title {
    margin-bottom: 40px;
    color: var(--main-title-color);
}

.contacts-list{
    max-width: 270px;
}

.contacts-item:nth-last-child(3){
   margin-bottom: 20px; 
}

.contacts-link {
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.contacts-bottom-title {
    margin-top: 70px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.contacts-bottom-text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

/* -------------------FOOTER---------------------- */

.footer-container{
    display: flex;
    align-items: center;
    padding: 57px 0 55px 0;
    background-color: var(--alt-background-color);
}


.footer-copy {
    margin-left: 55px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--second-text-color);
}

.footer-list{
    display: flex;
    margin-left: auto;
}

.footer-item{
    margin-right: 40px;
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--third-text-color);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(23, 26, 36, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 300ms, visibility 300ms;
}

.backdrop.is-hidden .modal {
    transform: scale(1.5) rotate(270deg) translate(100px, 100px);
}

.modal {
    width: 500px;
    min-height: 500px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) rotate(0) translate(-50%, -50%);
    transition: transform 300ms;
    padding: 40px;
}

.modal-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--second-title-color);
    text-align: center;
    margin-bottom: 15px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 45px;
    border: 1px solid #999999;
    border-radius: 4px;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
    background-color: transparent;
    color: teal;
    transition: border-color 300ms linear;
}

.modal-input:focus+.input-icon {
    fill: var(--accent-color);
}

.modal-input:focus,
.modal-text:focus {
    border-color: var(--accent-color);
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    transition: fill 300ms linear;
}

.modal-text {
    width: 100%;
    height: 100px;
    border: 1px solid #999999;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    resize: none;
    background-color: transparent;
    color: teal;
    transition: border-color 300ms linear;
}

.modal-input::placeholder,
.modal-text::placeholder {
    font-size: 14px;
    color: tomato;
    opacity: 0.7;
}

.modal-input-text {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    color: var(--fourth-text-color);
}

.modal-btn {
    margin: 0 auto;
    color: var(--second-button-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn:hover svg {
    fill: #ffffff;
}

.input-btn-icon {
    margin-left: 6px;
    transition: fill 300ms linear;
}

.modal-check-text {
    font-size: 14px;
    color: var(--fourth-text-color);
    display: flex;
    position: relative;
    align-items: center;
}

.modal-check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    margin-right: 5px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-check {
    fill: transparent;
}

.modal-check:checked+.modal-check-text span {
    background-color: var(--accent-color);
    border: none;
}

.modal-check:checked+.modal-check-text .icon-check {
    fill: teal;
}