.about {
    padding-top: 139px;
    padding-bottom: 121px;
}

.about-container {
    display: flex;
}

.about-list {
    display: flex;
    margin-right: 64px;
    flex-shrink: 0;
}

.about-item:not(:last-child) {
    margin-right: 30px;
}

.about-pre-title {
    margin-bottom: 20px;

    &::before {
        background-color: var(--third-text-color);
    }
}


.about-title {
    margin-bottom: 20px;
    color: var(--second-title-color);
}

.about-after-title {
    color: var(--fourth-text-color);
    margin-bottom: 20px;
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--fourth-text-color);
    margin-bottom: 44px;
}

.about-btn {
    color: var(--second-button-color);
}