.pre-title {
    text-transform: uppercase;
    @include font(11px, 1.36, 0.1em, 600);
    @extend %align-list;

    &::before {
        content: "";
        width: 63px;
        height: 1px;
        margin-right: 21px;
        background: grey;
    }
}

.pre-title--color-dark {
    color: var(--third-text-color);
}

.pre-title--color-light {
    color: var(--first-text-color);
}