:root {
    --main-title-color: #ffffff;
    --second-title-color: #303030;
    --first-text-color: rgba(157, 164, 189, 0.6);
    --second-text-color: #9da4bd;
    --third-text-color: #303030;
    --fourth-text-color: #555555;
    --first-button-color: #ffffff;
    --second-button-color: #303030;
    --header-text-color: #ffffff;
    --accent-color: #ff6c00;
    --alt-background-color: #f7f7f7;
}